<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxn.weixin.dal.mapper.TbkItemMapper">
    <resultMap id="BaseResultMap" type="com.wxn.weixin.dal.model.TbkItemDO">
        <result column="ITEM_ID" jdbcType="VARCHAR" property="itemId" />
        <result column="TITLE" jdbcType="VARCHAR" property="title" />
        <result column="PICT_URL" jdbcType="VARCHAR" property="pictUrl" />
        <result column="SMALL_IMAGES" jdbcType="VARCHAR" property="smallImages" />
        <result column="RESERVE_PRICE" jdbcType="VARCHAR" property="reservePrice" />
        <result column="ZK_FINAL_PRICE" jdbcType="VARCHAR" property="zkFinalPrice" />
        <result column="USER_TYPE" jdbcType="DECIMAL" property="userType" />
        <result column="PROVCITY" jdbcType="VARCHAR" property="provcity" />
        <result column="ITEM_URL" jdbcType="VARCHAR" property="itemUrl" />
        <result column="NICK" jdbcType="VARCHAR" property="nick" />
        <result column="SELLER_ID" jdbcType="VARCHAR" property="sellerId" />
        <result column="VOLUME" jdbcType="DECIMAL" property="volume" />
        <result column="RATE_TYPE" jdbcType="VARCHAR" property="rateType" />
        <result column="IS_CODE" jdbcType="VARCHAR" property="isCode" />
        <result column="IS_SHOW" jdbcType="VARCHAR" property="isShow" />
    </resultMap>

    <select id="getItems" parameterType="com.wxn.weixin.dal.model.TbkItemDO" resultMap="BaseResultMap">
      select
          ITEM_ID,
          TITLE,
          PICT_URL,
          ZK_FINAL_PRICE,
          VOLUME
      from t_tbk_item t
        where t.IS_SHOW = '1'
        <if test="title != null and title != ''">
            and  t.TITLE like concat(concat('%',#{title,jdbcType=VARCHAR}),'%')
        </if>
    </select>
</mapper>